@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
}

/* TYPOGRAPHY */
* {
  -webkit-font-smoothing: antialiased;
  /* 모서리의 경계가 픽셀이 깨져 보이지 않음, 폰트를 부드럽게 해줌 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  font-weight: 700;
}

a {
  color: #000;
  text-decoration: none;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
}

.mg-t1 {
  margin-top: 1px;
}

.mg-t2 {
  margin-top: 2px;
}

.mg-t3 {
  margin-top: 3px;
}

.mg-t4 {
  margin-top: 4px;
}

.mg-t5 {
  margin-top: 5px;
}

.mg-t6 {
  margin-top: 6px;
}

.mg-t7 {
  margin-top: 7px;
}

.mg-t8 {
  margin-top: 8px;
}

.mg-t9 {
  margin-top: 9px;
}

.mg-t10 {
  margin-top: 10px;
}

.mg-t11 {
  margin-top: 11px;
}

.mg-t12 {
  margin-top: 12px;
}

.mg-t13 {
  margin-top: 13px;
}

.mg-t14 {
  margin-top: 14px;
}

.mg-t15 {
  margin-top: 15px;
}

.mg-t16 {
  margin-top: 16px;
}

.mg-t17 {
  margin-top: 17px;
}

.mg-t18 {
  margin-top: 18px;
}

.mg-t19 {
  margin-top: 19px;
}

.mg-t20 {
  margin-top: 20px;
}

.mg-t21 {
  margin-top: 21px;
}

.mg-t22 {
  margin-top: 22px;
}

.mg-t23 {
  margin-top: 23px;
}

.mg-t24 {
  margin-top: 24px;
}

.mg-t25 {
  margin-top: 25px;
}

.mg-t26 {
  margin-top: 26px;
}

.mg-t27 {
  margin-top: 27px;
}

.mg-t28 {
  margin-top: 28px;
}

.mg-t29 {
  margin-top: 29px;
}

.mg-t30 {
  margin-top: 30px;
}

.mg-t31 {
  margin-top: 31px;
}

.mg-t32 {
  margin-top: 32px;
}

.mg-t33 {
  margin-top: 33px;
}

.mg-t34 {
  margin-top: 34px;
}

.mg-t35 {
  margin-top: 35px;
}

.mg-t36 {
  margin-top: 36px;
}

.mg-t37 {
  margin-top: 37px;
}

.mg-t38 {
  margin-top: 38px;
}

.mg-t39 {
  margin-top: 39px;
}

.mg-t40 {
  margin-top: 40px;
}

.mg-t41 {
  margin-top: 41px;
}

.mg-t42 {
  margin-top: 42px;
}

.mg-t43 {
  margin-top: 43px;
}

.mg-t44 {
  margin-top: 44px;
}

.mg-t45 {
  margin-top: 45px;
}

.mg-t46 {
  margin-top: 46px;
}

.mg-t47 {
  margin-top: 47px;
}

.mg-t48 {
  margin-top: 48px;
}

.mg-t49 {
  margin-top: 49px;
}

.mg-t50 {
  margin-top: 50px;
}

.mg-t51 {
  margin-top: 51px;
}

.mg-t52 {
  margin-top: 52px;
}

.mg-t53 {
  margin-top: 53px;
}

.mg-t54 {
  margin-top: 54px;
}

.mg-t55 {
  margin-top: 55px;
}

.mg-t56 {
  margin-top: 56px;
}

.mg-t57 {
  margin-top: 57px;
}

.mg-t58 {
  margin-top: 58px;
}

.mg-t59 {
  margin-top: 59px;
}

.mg-t60 {
  margin-top: 60px;
}

.mg-t61 {
  margin-top: 61px;
}

.mg-t62 {
  margin-top: 62px;
}

.mg-t63 {
  margin-top: 63px;
}

.mg-t64 {
  margin-top: 64px;
}

.mg-t65 {
  margin-top: 65px;
}

.mg-t66 {
  margin-top: 66px;
}

.mg-t67 {
  margin-top: 67px;
}

.mg-t68 {
  margin-top: 68px;
}

.mg-t69 {
  margin-top: 69px;
}

.mg-t70 {
  margin-top: 70px;
}

.mg-t71 {
  margin-top: 71px;
}

.mg-t72 {
  margin-top: 72px;
}

.mg-t73 {
  margin-top: 73px;
}

.mg-t74 {
  margin-top: 74px;
}

.mg-t75 {
  margin-top: 75px;
}

.mg-t76 {
  margin-top: 76px;
}

.mg-t77 {
  margin-top: 77px;
}

.mg-t78 {
  margin-top: 78px;
}

.mg-t79 {
  margin-top: 79px;
}

.mg-t80 {
  margin-top: 80px;
}

body {
  color: red;
}

.ly-wrap {
  height: 100%;
  font-size: 2.5rem;
}

.ly-header {
  height: 6rem;
  background-color: blue;
}

.ly-contents {
  height: calc(100% - 10rem);
}

.ly-footer {
  height: 4rem;
  background-color: green;
}

input {
  width: 100%;
}

select {
  width: 100%;
}

table tr th {
  height: 50px;
  background-color: #eaeaea;
}

table tr td {
  height: 50px;
}

button {
  cursor: pointer;
}
